.home .hero img
  padding-left: 3em;
.no-margin
  margin 0

body
  font-size 18px
  line-height 1.58

.gist-file
  th, td
    border unset
  tr
    border-top unset
  tr:nth-child(2n)
    background-color unset

.preview
  width: 6rem!important
  height: 40px
